.hover-card {
    position: relative;
}

.hover-card .delete-icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    cursor: p;
}

.hover-card:hover .delete-icon {
    opacity: 1;
    visibility: visible;
}
.card-text{
    min-height: 8rem;
}