@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&display=swap');
body,html{
    padding: 0;
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    /* max-width: 600px; */
    /* display: flex;
    justify-content: center; */
}
*{
    font-family: "Kumbh Sans", sans-serif;
}
.custom-rounded-top{
    border-top-left-radius: 3.25rem;
    border-top-right-radius: 3.25rem;
}
.karla-font-600{
    font-family: "Karla", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
.karla-font-800{
    font-family: "Karla", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
.kumbh-sans-400{
    font-family: "Kumbh Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .border-radius-25{
    border-radius: 3rem !important;
  }
  .border-radius-2{
    border-radius: 2rem !important;
  }
  .border-radius-1{
    border-radius: 1rem !important;
  }
  .child-container {
    width: 100%;
    max-width: 800px;  /* Limit the maximum width */
    min-width: 330px;  /* Ensure it doesn't shrink below 330px */
    margin: 0 auto;    /* Center the container horizontally */
    box-sizing: border-box;  /* Prevent padding/border from affecting the width */
  }